Repository trouble1fake/harness-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: diptiman.adak@harness.io, udham.singh@harness.io, guna.chandrasekaran@harness.io, @gupta-utkarsh, @ankit-harness, @prashantpal31, bojan.micovic@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io, prashant.sharma@harness.io, vaibhav.si@harness.io;, praveen.sugavanam@harness.io, kamal.joshi@harness.io, abhijith.pradeep@harness.io, deepak.chhikara@harness.io, kanhaiya.rathi@harness.io;

feat: [DEL-3183]: implement caching for delegate tokens
  400-rest/src/main/java/io/harness/delegate/authenticator/DelegateTokenAuthenticatorImpl.java
  400-rest/src/main/java/io/harness/service/impl/DelegateNgTokenServiceImpl.java
  400-rest/src/main/java/software/wings/app/ManagerCacheRegistrar.java
  420-delegate-service/src/main/java/io/harness/delegate/beans/DelegateTokenCacheKey.java
  420-delegate-service/src/main/java/io/harness/delegate/utils/DelegateTokenCacheHelper.java
Owners: none

[feat]: [CDP-20327]: destroy from additional sources
  125-cd-nextgen/src/main/java/io/harness/cdng/provision/terraform/TerraformDestroyStep.java
Owners: none

[feat]: [CDP-20340]: Integrate artifactory store with terraform Rollback step (#30531)
  125-cd-nextgen/src/main/java/io/harness/cdng/provision/terraform/TerraformStepHelper.java
  125-cd-nextgen/src/main/java/io/harness/cdng/provision/terraform/steps/rolllback/TerraformRollbackStep.java
  125-cd-nextgen/src/test/java/io/harness/cdng/provision/terraform/TerraformStepHelperTest.java
  125-cd-nextgen/src/test/java/io/harness/cdng/provision/terraform/steps/rolllback/TerraformRollbackStepTest.java
Owners: none

[DEL-3183]: bind delegateTokenCache
  400-rest/src/main/java/software/wings/app/ManagerCacheRegistrar.java
  420-delegate-service/src/main/java/io/harness/delegate/beans/DelegateTokenCacheKey.java
Owners: none

[PL-22248]: setup scm user cred in full-sync flow
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/helper/UserProfileHelper.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/impl/FullSyncTriggerServiceImpl.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/impl/HarnessToGitHelperServiceImpl.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/service/HarnessToGitHelperService.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/core/fullsync/FullSyncAccumulatorServiceImpl.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/core/fullsync/entity/GitFullSyncJob.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/core/fullsync/impl/FullSyncJobServiceImpl.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/core/fullsync/service/FullSyncJobService.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/sdk/HarnessToGitPushInfoGrpcService.java
  136-git-sync-manager/src/main/java/io/harness/repositories/fullSync/FullSyncJobRepository.java
  900-git-sync-sdk/src/main/java/io/harness/gitsync/scm/SCMGitSyncHelper.java
  953-git-sync-commons/src/main/java/io/harness/gitsync/common/helper/UserPrincipalMapper.java
  953-git-sync-commons/src/main/proto/io/harness/gitsync/full_sync.proto
  953-git-sync-commons/src/main/proto/io/harness/gitsync/harness_to_git.proto
  953-git-sync-commons/src/main/proto/io/harness/gitsync/user_principal.proto
Owners: none

feat: [DEL-3148]: Remove /fail call from delegate agent if validation failed
  270-delegate-service-app/delegate-service-config.yml
  360-cg-manager/config.yml
  360-cg-manager/src/main/java/software/wings/app/WingsApplication.java
  400-rest/src/main/java/io/harness/iterator/DelegateTaskValidationFailCheckHandler.java
  400-rest/src/main/java/software/wings/service/impl/DelegateTaskServiceClassicImpl.java
  400-rest/src/test/java/software/wings/resources/DelegateAgentResourceTest.java
  400-rest/src/test/java/software/wings/scheduler/DelegateTaskValidationFailHandlerTest.java
  400-rest/src/test/java/software/wings/service/delegate/DelegateTaskServiceClassicTest.java
  870-cg-orchestration/src/main/java/io/harness/beans/DelegateTask.java
Owners: none

fix formatting
  400-rest/src/test/java/software/wings/service/delegate/DelegateTaskServiceClassicTest.java
Owners: none

[COMP-3486]: Update lite engine and addone versions
  310-ci-manager/ci-manager-config.yml
Owners: none

[CDC-16674]: added app manifest name
  400-rest/src/main/java/software/wings/beans/appmanifest/ApplicationManifestSummary.java
  400-rest/src/main/java/software/wings/service/impl/workflow/WorkflowServiceImpl.java
Owners: none

[CVNG-1234]: basic auth init commit
  400-rest/src/main/java/software/wings/beans/APMValidateCollectorConfig.java
  400-rest/src/main/java/software/wings/beans/PrometheusConfig.java
  400-rest/src/main/java/software/wings/delegatetasks/APMDataCollectionTask.java
  400-rest/src/main/java/software/wings/service/impl/analysis/APMDelegateServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/analysis/ContinuousVerificationServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/apm/APMDataCollectionInfo.java
  400-rest/src/main/java/software/wings/service/impl/prometheus/PrometheusAnalysisServiceImpl.java
  400-rest/src/main/java/software/wings/sm/states/PrometheusState.java
  430-cv-nextgen-commons/src/main/java/io/harness/cvng/beans/CustomHealthDataCollectionInfo.java
Owners: none

[CVS-4117]: basic auth for prometheus curr gen
  400-rest/src/main/java/software/wings/beans/PrometheusConfig.java
  400-rest/src/main/java/software/wings/delegatetasks/APMDataCollectionTask.java
  400-rest/src/main/java/software/wings/service/impl/analysis/ContinuousVerificationServiceImpl.java
  400-rest/src/main/java/software/wings/sm/states/PrometheusState.java
Owners: none

[CVS-4117]: pmd check
  400-rest/src/main/java/software/wings/delegatetasks/APMDataCollectionTask.java
Owners: none

[CVS-4117]: updated for encodebase64 placeholder
  400-rest/src/main/java/software/wings/beans/APMValidateCollectorConfig.java
  400-rest/src/main/java/software/wings/beans/PrometheusConfig.java
  400-rest/src/main/java/software/wings/delegatetasks/APMDataCollectionTask.java
  400-rest/src/main/java/software/wings/service/impl/analysis/APMDelegateServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/analysis/ContinuousVerificationServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/apm/APMDataCollectionInfo.java
  400-rest/src/main/java/software/wings/service/impl/prometheus/PrometheusAnalysisServiceImpl.java
  400-rest/src/main/java/software/wings/sm/states/PrometheusState.java
  430-cv-nextgen-commons/src/main/java/io/harness/cvng/beans/CustomHealthDataCollectionInfo.java
Owners: none

[CVS-4117]: pmd check
  400-rest/src/main/java/software/wings/delegatetasks/APMDataCollectionTask.java
  400-rest/src/main/java/software/wings/service/impl/analysis/APMDelegateServiceImpl.java
Owners: none

[CVS-4117]: updated failing test
  400-rest/src/test/java/software/wings/service/prometheus/PrometheusAnalysisServiceTest.java
Owners: none

[CVS-4117]: updated failing test
  400-rest/src/test/java/software/wings/service/prometheus/PrometheusAnalysisServiceTest.java
Owners: none

[CVS-4117]: updated dependency hash
  260-delegate/module-dependency.hash
  270-delegate-service-app/module-dependency.hash
Owners: bojan.micovic@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io

fix: [DEL-2812]: updated if condition
  260-delegate/src/main/resources/logback-test.xml
  960-watcher/src/main/resources/logback.xml
Owners: none

[COMP-3490]: Initial commit for plugin compatible step
  320-ci-execution/src/main/java/io/harness/ci/creator/variables/CIStepVariableCreator.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/K8InitializeStepInfoBuilder.java
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/VmInitializeStepUtils.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/CICreatorUtils.java
  320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIPipelineServiceInfoProvider.java
  320-ci-execution/src/main/java/io/harness/ci/serializer/PluginCompatibleStepSerializer.java
  320-ci-execution/src/main/java/io/harness/ci/serializer/vm/VmStepSerializer.java
  320-ci-execution/src/main/java/io/harness/registrars/ExecutionRegistrar.java
  320-ci-execution/src/main/java/io/harness/states/AbstractStepExecutable.java
  320-ci-execution/src/main/java/io/harness/states/SecurityStep.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/PluginSettingUtils.java
  320-ci-execution/src/test/resources/recaster/alias/alias.txt
  330-ci-beans/src/main/java/io/harness/beans/plugin/compatible/PluginCompatibleStep.java
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfoType.java
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfoUtils.java
  330-ci-beans/src/main/java/io/harness/beans/steps/StepSpecTypeConstants.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/DockerStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/ECRStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/GCRStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/RestoreCacheGCSStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SaveCacheGCSStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SaveCacheS3StepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SecurityStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/UploadToArtifactoryStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/UploadToGCSStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/UploadToS3StepInfo.java
  330-ci-beans/src/main/java/io/harness/ci/config/CIStepConfig.java
  330-ci-beans/src/main/java/io/harness/ci/config/VmImageConfig.java
  330-ci-beans/src/main/java/io/harness/serializer/kryo/CIBeansKryoRegistrar.java
  330-ci-beans/src/test/resources/schema/IntegrationStage/all.json
  943-enforcement-beans/src/main/java/io/harness/enforcement/constants/FeatureRestrictionName.java
  956-feature-flag-beans/src/main/java/io/harness/beans/FeatureName.java
Owners: prashant.sharma@harness.io, vaibhav.si@harness.io;, @prashantpal31

[CVS-4117]: updated dependency hash
  260-delegate/module-dependency.hash
  270-delegate-service-app/module-dependency.hash
Owners: bojan.micovic@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io

[CDP-19684]: Addressed code review comments on clour provider, infra def changes
  400-rest/src/main/java/software/wings/app/YamlModule.java
  400-rest/src/main/java/software/wings/beans/RancherKubernetesInfrastructureMapping.java
  400-rest/src/main/java/software/wings/infra/RancherKubernetesInfrastructure.java
  400-rest/src/main/java/software/wings/service/impl/InfrastructureMappingServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/RancherHelperService.java
  400-rest/src/main/java/software/wings/service/impl/SettingValidationService.java
  400-rest/src/main/java/software/wings/service/impl/infrastructuredefinition/InfrastructureDefinitionServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/yaml/handler/InfraDefinition/RancherKubernetesInfrastructureYamlHandler.java
  400-rest/src/main/java/software/wings/service/impl/yaml/handler/inframapping/RancherKubernetesInfraMappingYamlHandler.java
  400-rest/src/main/java/software/wings/service/impl/yaml/handler/setting/cloudprovider/RancherConfigYamlHandler.java
Owners: none

[feat]: [CDP-19129]: fixing logging
  260-delegate/src/main/java/software/wings/delegatetasks/azure/appservice/deployment/AzureAppServiceDeploymentService.java
  960-api-services/src/main/java/io/harness/azure/impl/SlotLogStreamer.java
  960-api-services/src/main/java/io/harness/azure/utility/AzureLogParser.java
Owners: none

[fix]: CI-3384: [TI] addon should switch between -DargLine and -DharnessArgLine
  product/ci/addon/tasks/runtests_test.go
  product/ci/addon/testintelligence/java/helper.go
  product/ci/addon/testintelligence/java/helper_test.go
  product/ci/addon/testintelligence/java/maven.go
  product/ci/addon/testintelligence/java/maven_test.go
  product/ci/addon/testintelligence/java/testdata/harness_tag_detection/with_tag/tag1.xml
  product/ci/addon/testintelligence/java/testdata/harness_tag_detection/without_tag/tag2.xml
  product/ci/common/external/util.go
Owners: none

[PL-21302]: Added AccountSettingServiceTest
  950-ng-core/src/test/java/io/harness/ng/core/accountsetting/services/NGAccountSettingServiceImplTest.java
  950-ng-core/src/test/java/io/harness/ng/core/accountsetting/services/NGAccountSettingServiceTest.java
Owners: none

[PL-22248]: fix checkstyle
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/helper/UserProfileHelper.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/common/impl/HarnessToGitHelperServiceImpl.java
  136-git-sync-manager/src/main/java/io/harness/gitsync/core/fullsync/FullSyncAccumulatorServiceImpl.java
Owners: none

fix code format
  400-rest/src/main/java/software/wings/service/impl/DelegateTaskServiceClassicImpl.java
Owners: none

[CDC-16674]: added repo validation and fixed helm chart not found bug
  260-delegate/src/main/java/io/harness/perpetualtask/manifest/ArtifactoryHelmRepositoryService.java
  400-rest/src/main/java/software/wings/helpers/ext/artifactory/ArtifactoryService.java
  400-rest/src/main/java/software/wings/helpers/ext/artifactory/ArtifactoryServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionServiceHelper.java
  400-rest/src/main/java/software/wings/service/impl/WorkflowExecutionServiceImpl.java
  400-rest/src/main/java/software/wings/sm/WorkflowStandardParams.java
Owners: none

fix formatting
  360-cg-manager/src/main/java/software/wings/app/WingsApplication.java
  400-rest/src/test/java/software/wings/resources/DelegateAgentResourceTest.java
Owners: none

[COMP-3490]: Update security step config
  310-ci-manager/ci-manager-config.yml
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/PluginSettingUtils.java
Owners: none

[COMP-3490]: Update hash
  260-delegate/module-dependency.hash
  270-delegate-service-app/module-dependency.hash
Owners: bojan.micovic@harness.io, raghu@harness.io, abhinav.singh@harness.io, jenny.james@harness.io

[COMP-3490]: Convert to less disruptive changes
  320-ci-execution/src/main/java/io/harness/ci/integrationstage/K8InitializeStepInfoBuilder.java
  320-ci-execution/src/main/java/io/harness/ci/serializer/PluginCompatibleStepSerializer.java
  320-ci-execution/src/main/java/io/harness/common/CIExecutionConstants.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/K8BuildSetupUtils.java
  320-ci-execution/src/main/java/io/harness/stateutils/buildstate/providers/InternalContainerParamsProvider.java
  320-ci-execution/src/test/java/io/harness/stateutils/buildstate/K8BuildSetupUtilsTest.java
  320-ci-execution/src/test/java/io/harness/stateutils/buildstate/providers/InternalContainerParamsProviderTest.java
  330-ci-beans/src/main/java/io/harness/beans/plugin/compatible/PluginCompatibleStep.java
  330-ci-beans/src/main/java/io/harness/beans/steps/CIStepInfoUtils.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/DockerStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/ECRStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/GCRStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/RestoreCacheGCSStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/RestoreCacheS3StepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SaveCacheGCSStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SaveCacheS3StepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SecurityStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/UploadToArtifactoryStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/UploadToGCSStepInfo.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/UploadToS3StepInfo.java
  330-ci-beans/src/test/resources/schema/IntegrationStage/all.json
  960-yaml-sdk/src/main/java/io/harness/yaml/schema/AbstractSchemaChecker.java
Owners: none

[COMP-3490]: Cleanup
  330-ci-beans/src/main/java/io/harness/beans/plugin/compatible/PluginCompatibleStep.java
  330-ci-beans/src/main/java/io/harness/beans/steps/stepinfo/SecurityStepInfo.java
  960-yaml-sdk/src/main/java/io/harness/yaml/schema/AbstractSchemaChecker.java
Owners: none

feat: [CCM-0]: add profiler agent to batch-processing container
  280-batch-processing/container/scripts/start_process.sh
  dockerization/batch-processing/scripts/start_process.sh
Owners: none

Unit Tests and PR Issues
  260-delegate/src/test/java/software/wings/delegatetasks/k8s/taskhandler/K8sVersionTaskHandlerTest.java
  400-rest/src/main/java/software/wings/common/RancherK8sClusterProcessor.java
  400-rest/src/main/java/software/wings/delegatetasks/k8s/K8sTaskHelper.java
  400-rest/src/main/java/software/wings/delegatetasks/rancher/RancherResolveClustersTask.java
  400-rest/src/main/java/software/wings/delegatetasks/rancher/RancherTaskHelper.java
  400-rest/src/main/java/software/wings/helpers/ext/container/ContainerDeploymentManagerHelper.java
  400-rest/src/main/java/software/wings/service/impl/ExecutionEventListener.java
  400-rest/src/main/java/software/wings/service/impl/workflow/WorkflowServiceHelper.java
  400-rest/src/main/java/software/wings/service/impl/workflow/WorkflowServiceImpl.java
  400-rest/src/main/java/software/wings/service/impl/workflow/creation/helpers/RancherK8BlueGreenWorkflowPhaseHelper.java
  400-rest/src/main/java/software/wings/sm/StepType.java
  400-rest/src/test/java/software/wings/common/RancherK8sClusterProcessorTest.java
  400-rest/src/test/java/software/wings/delegatetasks/rancher/RancherResolveClustersTaskTest.java
  400-rest/src/test/java/software/wings/helpers/ext/container/ContainerDeploymentDelegateHelperTest.java
  400-rest/src/test/java/software/wings/helpers/ext/container/ContainerDeploymentManagerHelperTest.java
  400-rest/src/test/java/software/wings/helpers/ext/container/ContainerMasterUrlHelperTest.java
  400-rest/src/test/java/software/wings/helpers/ext/k8s/request/K8sClusterConfigTest.java
  400-rest/src/test/java/software/wings/service/impl/ContainerServiceParamsTest.java
  870-cg-orchestration/src/main/java/software/wings/common/WorkflowConstants.java
  990-commons-test/src/main/java/io/harness/rule/OwnerRule.java
Owners: none

[PL-21302]: Added AccountSettingMapperTest
  950-ng-core/src/main/java/io/harness/repositories/accountsetting/AccountSettingCustomRepositoryImpl.java
  950-ng-core/src/test/java/io/harness/ng/core/accountsetting/AccountSettingMapperTest.java
Owners: none

[PL-21302]: Added AccountSettingMapperTest
  950-ng-core/src/main/java/io/harness/repositories/accountsetting/AccountSettingCustomRepositoryImpl.java
  950-ng-core/src/test/java/io/harness/ng/core/accountsetting/AccountSettingMapperTest.java
  950-ng-core/src/test/java/io/harness/ng/core/accountsetting/resources/AccountSettingResourceTest.java
Owners: none

.github/CODEOWNERS:

DockerFile* diptiman.adak@harness.io udham.singh@harness.io guna.chandrasekaran@harness.io
/925-access-control-service/src/main/resources/io/harness/accesscontrol/ @gupta-utkarsh @ankit-harness
/125-cd-nextgen/src/test/resources/recaster/alias/alias.txt @prashantpal31
/300-cv-nextgen/src/test/resources/recaster/alias/alias.txt @prashantpal31
/320-ci-execution/src/test/resources/recaster/alias/alias.txt @prashantpal31
/800-pipeline-service/src/test/resources/recaster/alias/alias.txt @prashantpal31
/860-orchestration-steps/src/test/resources/recaster/alias/alias.txt @prashantpal31
/860-orchestration-visualization/src/test/resources/recaster/alias/alias.txt @prashantpal31
/870-orchestration/src/test/resources/recaster/alias/alias.txt @prashantpal31
/260-delegate/module-dependency.hash bojan.micovic@harness.io raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io
/270-delegate-service-app/module-dependency.hash bojan.micovic@harness.io raghu@harness.io abhinav.singh@harness.io jenny.james@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/creator/CDNGPlanCreatorProvider.java prashant.sharma@harness.io vaibhav.si@harness.io;
/800-pipeline-service/src/main/java/io/harness/pms/plan/creation/PipelineServiceInternalInfoProvider.java prashant.sharma@harness.io vaibhav.si@harness.io;
/320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIPipelineServiceInfoProvider.java prashant.sharma@harness.io vaibhav.si@harness.io;
/300-cv-nextgen/src/main/java* praveen.sugavanam@harness.io kamal.joshi@harness.io abhijith.pradeep@harness.io deepak.chhikara@harness.io kanhaiya.rathi@harness.io;
